.button{
   text-align: center;
   margin: 10px;
   border: 1px solid #000;
   padding:7px 35px;
   background-color: rgb(32, 104, 112);
   color: white;
   border-radius: 5px;
}

.button:hover{
   opacity: 0.8;
}

.botones{
   text-align: center;
   margin: 20px 0px;
}

.banderas{
   margin: 20px 0px;
   display: flex;
   justify-content: space-around;
}

.contenedor-foto{
   display: grid;
   grid-template-columns: 300px;
   justify-content: center;
   text-align: center;
}

.lugar{
   margin:auto;
   background-color: rgb(32, 104, 112);
   color: white;
   border-radius: 5px;
   padding: 7px 35px;
   text-align: center;
   width:300px;
}

.foto{
   width: 300px;
   height: auto;
}

.hide{
   display: none;
}